<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.dao.user.UserDao">
<!-- 验证登录的方法 -->
 <select id="validation" resultType="User">
 SELECT * FROM erp_user 
 <where>
   <if test="account !=null">
    and account=#{account}
   </if>
   <if test="password !=null">
    and password=#{password}
   </if>
 </where>
 </select>
</mapper>